body {
  padding: 0;
  margin: 0;
  background-image: url('../img/background.jpg');
  font-family: Andale Mono, monospace;
}
nav {
	height: 7%;
  width: 100%;

}
header {
  height: 60%;
  width: auto;

  overflow: hidden;
  border-bottom: 5px;
  border-color: #1a1a1a;
  display: block;
}
header p {
  border: 10px;
  border-style: solid;
  border-color: #1a1a1a;
  color: white;
  width: 10%;
  height: 20%;
  text-align: center;
  padding-top: 65px;
  margin-left: 45%;
  margin-top: 8%;
  background-color: #1a1a1a;
  font-size: 1.5vw;
  display: block;

}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#1a1a1a;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
article {
  width: 100%;
  height: 80%;
}
.column {
  float: left;
  width: 32%;
  padding: 10px;
  display: block;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  margin-left: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
footer {
  background-color:#1a1a1a;
  float: left;
  clear: both;
  width: 100%;
  height: 10%;


}
footer p {
  text-align: center;
  color: white;
  padding-top: 10px;
}
